body {
  font-family: "Nunito", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

nav {
  color: #403a60;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav a {
  color: #403a60;
  position: relative;
  text-decoration: none;
  margin-right: 40px;
}

nav a::after {
  content: "";
  color: #403a60;
  border-bottom: 3px solid #403a60;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  color: #403a60;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-toggle {
  background-color: transparent;
  border-color: #403a60;
}

.dropdown-item {
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403a60;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dropdown-item a::after {
  content: "";
  color: #403a60;
  border-bottom: 3px solid #403a60;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.dropdown-item a:hover::after {
  color: #403a60;
  opacity: 1;
  transform: translateY(0);
}

.logo {
  margin: 10px;
  height: 80px;
}

.navbar-brand {
  padding-left: 10px;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

header {
  background-image: url("https://source.unsplash.com/1600x900/?travel");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  position: relative;
  color: #fff;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.header-content {
  padding-top: 10%;
}

header * {
  position: relative;
  padding-left: 10%;
  z-index: 1;
}

.hero {
  padding-left: 30%;
  height: 30vh;
}

header h1 {
  font-weight: bold;
}

header .icon {
  font-size: 6em;
}

header p {
  font-size: 2em;
}

.logo-lg {
  max-height: 150px;
  margin-bottom: -20px;
}

.subhead {
  margin: 40px;
  text-align: center;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 95vw;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.recent {
  -webkit-box-flex: 400px;
  -moz-box-flex: 400px;
  -webkit-flex: 400px;
  -ms-flex: 400px;
  flex: 400px;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin: 20px;
  transition: transform 0.3s ease;
}

.recent h3 {
  color: #403a60;
  text-align: center;
  padding-top: 20px;
}

.recent img {
  width: 100%;
}

.recent:hover {
  transform: scale(1.05);
}

.recent:hover {
  color: #403a60;
}

.recent:hover:visited {
  color: #403a60;
}

.recent:hover:hover {
  color: #f9a17d;
}

.card-containter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card {
  -webkit-box-flex: 300px;
  -moz-box-flex: 300px;
  -webkit-flex: 300px;
  -ms-flex: 300px;
  flex: 300px;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin: 20px;
  transition: transform 0.3s ease;
}

.card p {
  text-decoration: none;
  color: #403a60;
}

.card a {
  color: #403a60;
}

.card a:visited {
  color: #403a60;
}

.card a:hover {
  color: #f9a17d;
}

.card-header p {
  font-size: 1.5em;
  display: inline;
}

.card:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.places {
  -webkit-box-flex: 25%;
  -moz-box-flex: 25%;
  -webkit-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin: 10px;
}

.places img {
  width: 100%;
}

.article {
  max-width: 80vw;
  margin: 0 auto;
  padding: 40px;
}

.about-text {
  padding: 40px 0px 60px 0px;
}

.about-page {
  padding: 40px 100px 40px 100px;
}

.tab-content {
  display: none;
}

.active {
  display: block;
}

.tab-content h2 {
  margin: 20px;
}

#tabs {
  font-size: 1.4em;
}

footer {
  color: #f9a17d;
  background-color: #403a60;
  padding: 100px;
}

footer a {
  color: #f9a17d;
}

footer a:hover {
  color: #f9a17d;
  text-decoration: underline;
}

footer ul {
  display: table;
  margin: 0 auto;
}

footer ul li {
  margin: 20px;
  letter-spacing: 2px;
  display: inline;
  list-style: none;
  text-transform: uppercase;
}

section, article, aside, footer, header, nav {
  display: block;
}

@media only screen and (max-width: 575px) {
  .logo-lg {
    max-height: 100px;
  }

  h1 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=watch.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
