$header-font:  'Playfair Display', serif;
$font-stack:  'Nunito', sans-serif;
$primary-color: #403a60;
$secondary-color: #f9a17d;

@mixin cardlinks ($link, $hover) {
    & {
        color: $link;
        
        &:visited {
            color: $primary-color;
        }
        &:hover {
            color: $hover
        } 
    }
}


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}



body {
    font-family: $font-stack;
}

h1, h2 {
    font-family: $header-font;
}

nav{
    color: $primary-color;
    font-family:'Nunito', sans-serif;
    letter-spacing: 2px;
    text-transform:uppercase;
} 

nav a {
    color: $primary-color;
    position: relative;
    text-decoration: none;
    margin-right:40px;
}

nav a::after {
    content: '';
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
    height: 100%;
    width: 100%;
}
  
nav a:hover::after {
    color: $primary-color;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-toggle {
    background-color: transparent;
    border-color: $primary-color;    
}
  
.dropdown-item {
    font-family:'Nunito', sans-serif;
    letter-spacing: 2px;
    text-transform:uppercase;
    color: $primary-color;
    margin-bottom:20px;
    margin-top:20px;
}

.dropdown-item a::after{
    content: '';
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.dropdown-item a:hover::after {
    color: $primary-color;
    opacity: 1;
    transform: translateY(0);
}

.logo {
    margin: 10px;  
    height: 80px;
} 

.navbar-brand {
    padding-left:10px;
    font-family: $header-font;
    font-size: 1.5em;
}

header {
  background-image: url("https://source.unsplash.com/1600x900/?travel");
  background-size: cover;
  background-position: center center;
  display:flex;
  align-items: left;
  justify-content: center;
  flex-direction:column; 
  height: 60vh;
  position: relative;
  color: #fff;
}

header::after{
    content:'';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    opacity: 0.3;
}

.header-content{
    padding-top:10%;
}

header * {
    position: relative;
    padding-left: 10%;
    z-index: 1;
}

.hero {
    padding-left: 30%;
    height: 30vh;
}

header h1 {  
  font-weight: bold; 
}

header .icon{
    font-size: 6em;
}
 
header p {
    font-size: 2em;
}

.logo-lg {
    max-height:150px;
    margin-bottom:-20px;
}

.subhead {
    margin:40px;
    text-align:center;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 95vw;
}

.container {
  @include flexbox();
}

.recent {
  @include flex(400px);
  @include order(1);
  margin:20px;
  transition: transform 0.3s ease;

      h3 {
    color: $primary-color;
    text-align: center;
    padding-top: 20px;
    }

     img {
    width: 100%;
    }
}

.recent:hover {
    transform: scale(1.05);
    @include cardlinks($primary-color,$secondary-color)
}

.card-containter{
    @include flexbox();
}

.card{
    @include flex(300px);
    @include order(1);
    margin:20px;
    transition: transform 0.3s ease;

    p{
    text-decoration: none;
    color: $primary-color;
    }
    
    a{
    @include cardlinks($primary-color,$secondary-color)
    }
}


.card-header p {
    font-size:1.5em;
    display: inline;
}

.card:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.places {
  @include flex(25%);
  @include order(1);
  margin:10px;

    img {
        width: 100%;
    }
}

.article {
    max-width: 80vw;
    margin: 0 auto;
    padding: 40px;
}

.about-text{
    padding: 40px 0px 60px 0px;
}

.about-page{
    padding: 40px 100px 40px 100px;
}

.tab-content {
    display: none;
}

.active {
    display:block;
}

.tab-content h2{
    margin: 20px;
}

#tabs {
    font-size:1.4em;
}

footer {
    color:$secondary-color;
    background-color: $primary-color;
    padding:100px;

        a{
           color:$secondary-color;
        }

        a:hover {
            color:$secondary-color;
            text-decoration: underline;
        }

        ul{
            display: table;
            margin: 0 auto;
            }

        ul li {
            margin: 20px;
            letter-spacing: 2px;
            display: inline;
            list-style: none;
            text-transform:uppercase;
        }

    }       
     
section, article, aside, footer, header, nav {
  display: block;
}